# Get your free eBay developer keys at https://developer.ebay.com
# Create an app, then copy the Production App ID and Cert ID below.

EBAY_CLIENT_ID=your_app_id_here
EBAY_CLIENT_SECRET=your_cert_id_here

PORT=3000
